.purple {
    color: purple;
}

.red {
    color: red !important;
}

#article-1 {
    color: white;
}

.white {
    color: inherit;
}

.jumbotron {
    margin-bottom: 0;
    border-bottom: 1px solid gray;
}